*{
    text-align: center;
}
a{
    font-variant: small-caps;
    text-decoration: none;
}
a:link{
    color: blue;
}
a:active{
    color: orangered;
}
a:visited{
    color: green;
}
a:hover{
    color: red;
    text-decoration: underline;
}